article ul li{
  list-style-type: none;
  padding-left: 50px;
  margin-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

article a:hover{
  color: white;
}

article ul li:last-of-type{
  margin-bottom: 0px;
}

article p:last-of-type{
  margin-bottom: 15px;
}

#linkedin{
  background-image: url('../images/icons8-linkedin.svg');
}
#instagram{
  background-image: url('../images/icons8-instagram.svg');
}
#github{
  background-image: url('../images/icons8-github.svg');
}
#start2impact{
  background-image: url('../images/icons8-launchpad.svg');
}
.social{
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
